
:root {
    --bright-orange:  hsl(31, 77%, 52%);
    --dark-cyan:  hsl(184, 100%, 22%);
    --very-dark-cyan:  hsl(179, 100%, 13%);
    
    }
    
    
    
    * {
        margin: 0;
        padding:0;
        box-sizing:border-box;
    }
    
    body,
    button{
        font-family: 'Cormorant Garamond', serif;

    }
    H3 {
        font-family: 'Big shoulder display',serif;
        text-transform: uppercase;
        font-size:30px;
    
    }
    
    
    p {
        font-size:15px;
    }
    .btn:hover {
        background-color: transparent;
        color:#fff;
    }
    .bright-orange {
    background-color: var(--bright-orange);
    color:#fff;
    border-radius: 10px 0 0 10px;
    }
    .bright-orange .btn{
        color: var(--bright-orange);
    }
    .dark-cyan {
        background-color: var(--dark-cyan);
        color:#fff;
    }
    .dark-cyan .btn{
        color:var(--dark-cyan);
    }
    .very-dark-cyan {
        background-color: var(--very-dark-cyan);
        color:#fff;
        border-radius: 0 10px 10px 0;
    }
    .very-dark-cyan .btn {
        color:var(--very-dark-cyan);
    }   
    p {
        font-size:15px;
        line-height: 1.6;
    }
    .btn {
background-color: #fff;
border: 20px #fff;
border-radius: 30px;
padding: 10px 20px;
cursor: pointer;
transition:all 0.4s ease-in-out;
    }
     
    .btn:hover {
        background-color: transparent;
        color:#fff;}
    .page-container {
        padding:20px;
        display:flex;
        width:70%;
        align-items: center;
        justify-content: center;
        height: 50%;
        margin: auto;
    }
    .card {
        padding:30px;
    }

    .card-img {
        padding:30px;
    }

    .card H3 {
        margin-bottom:30px;
    }

    .card p{
        margin-bottom: 50px;
    }

   .attribution {
        font-size:11px;
        text-align: center;
    }

    .attribution a {
        color:hsl(228, 45%, 44%);
    }
  
     
